body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.login_container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: whitesmoke;
  background-attachment: fixed;
}

#login_box {
  background-color: antiquewhite;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 320px;
  margin: auto;
}

#login_box h1 {
  text-align: center;
  margin-bottom: 20px;
}

#login_box label {
  margin: 10px 0 5px;
  font-weight: bold;
}

#login_box input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login_box button {
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login_box button:hover {
  background-color: blue;
}

.logup_box .logup_link {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.logup_box .logup_link:hover {
  color: red;
}

#login_box #exists {
  color: red;
  margin-top: -5px;
  font-style: italic;
  visibility: hidden;
}
